@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: lightblue;
  }

  :root {
    --bs-primary: #12763e; /* Deep green */
  }
  
  .custom-navbar {
    background-color: #12763e; /* Dark green background */
  }
  
  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    color: #FFFFFF !important; /* White text for brand and links */
  }
  
  .custom-navbar .nav-link:hover {
    color: #d8ad40 !important; /* Gold accent on hover */
  }
  
  .custom-navbar .navbar-toggler {
    border-color: #FFFFFF; /* White border for the toggle button */
  }
  
  .custom-navbar .navbar-toggler-icon {
    background-color: #FFFFFF; /* White icon for the toggle button */
  }
  
  @media (max-width: 768px) {
    .custom-navbar .navbar-brand img {
      width: 60px; /* Adjust logo size for mobile */
      height: 60px; /* Maintain aspect ratio */
    }
  }
  
  .custom-navbar .navbar-brand img:hover {
    transform: scale(1.05); /* Slight zoom */
    transition: transform 0.2s ease;
  }
  
  