.hero {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #12763e; /* Background matching theme */
  }
  
  .swiper {
    width: 80%;
    max-width: 1200px;
    height: 100%;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
  }
  
  .swiper-pagination {
    color: #fff;
  }
  