---
import Layout from '../layouts/Layout.astro';
import AttractionCard from '../components/AttractionCard.astro';
---

<Layout>
  <section class="nearby-attractions">
    <h1>Nearby Attractions</h1>
    <p>Discover the best bars, restaurants, takeaways, and activities near Davmar House.</p>

    <div class="attractions-grid">
      <!-- Local Bars -->
      <AttractionCard title="Muskerry Arms Bar" type="Bar" link="https://www.muskerryarms.com/" imgSrc="/attraction_images/Muskerry_arms_logo.png" />
      <AttractionCard title="Aunties Bar" type="Bar" link="https://www.facebook.com/AuntiesBar.Tower/" imgSrc="attraction_images/Aunties_logo.jpg" />
      <AttractionCard title="Christys Bar" type="Bar" link="http://costiganspub.ie/" imgSrc="/attraction_images/Costigans_Logo.png" />
      <AttractionCard title="Blarney Castle Hotel Bar" type="Bar" link="https://blarneycastlehotel.com/" imgSrc="/attraction_images/Castle_hotel_logo.png" />

      <!-- Local Restaurants -->
      <AttractionCard title="Amore Italiano" type="Restaurant" link="http://www.eat-in-it.com/" imgSrc="/attraction_images/amore_italiano.png" />
      <AttractionCard title="Blarneys Burger" type="Restaurant" link="https://www.blarneyburger.ie/" imgSrc="/attraction_images/Blarney_burger_logo.png" />
      <AttractionCard title="Tung Sing" type="Restaurant" link="https://tungsingblarney.ie/delivery" imgSrc="/attraction_images/Tung_sing_logo.png" />
      <AttractionCard title="Soba" type="Restaurant" link="https://www.soba.ie/" imgSrc="/attraction_images/soba_logo.png" />

      <!-- Local Takeaways -->
      <AttractionCard title="Apache Pizza" type="Takeaway" link="https://www.apache.ie/" imgSrc="/attraction_images/Apache_Pizza_logo.jpg" />
      <AttractionCard title="Roosters Piri Piri" type="Takeaway" link="https://www.roosterspiripiri.com/" imgSrc="/attraction_images/roosters_logo.jpg" />
      <AttractionCard title="Dominoes" type="Takeaway" link="https://www.dominos.ie/" imgSrc="/attraction_images/dominoes_logo.png" />
      <AttractionCard title="Four Star Pizza" type="Takeaway" link="https://fourstarpizza.ie/" imgSrc="/attraction_images/four_star_logo.png" />

      <!-- Activities -->
      <AttractionCard title="Blarney Castle and Gardens" type="Activity" link="https://blarneycastle.ie" imgSrc="/attraction_images/blarney_castle.png" />
      <AttractionCard title="Cork City Gaol" type="Activity" link="https://corkcitygaol.com/" imgSrc="/attraction_images/cork_gaol.png" />
      <AttractionCard title="Local GAA Matches" type="Activity" link="https://www.blarneygaa.ie/" imgSrc="/attraction_images/blarney_gaa.png" />
      <AttractionCard title="Cobh Cathedral" type="Activity" link="https://cobhcathedralparish.ie/" imgSrc="/attraction_images/cobh_cathedral.png" />
      <AttractionCard title="SuperValu Páirc Uí Chaoimh" type="Activity" link="https://gaacork.ie/paircuichaoimh/" imgSrc="/attraction_images/SuperValu_Páirc_Uí_Chaoimh_Logo.jpg" />
    </div>
  </section>
</Layout>

<style>
  .nearby-attractions {
    text-align: center;
    padding: 2rem;
  }

  .attractions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
</style>
