---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <div class="container">
    <h1 class="text-center mt-5">Welcome to Davmar House</h1>
    <p class="text-center">Located in beautiful Blarney, County Cork, Ireland.</p>
  </div>
</Layout>


