---
import Swiper from 'swiper';
import { Navigation, Pagination } from 'swiper/modules';

// Import Swiper styles
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
---

<section class="hero">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/hero_images/Hero01.png" alt="Davmar House - Exterior View" />
      </div>
      <div class="swiper-slide">
        <img src="/hero_images/Hero02.png" alt="Cozy Bedroom at Davmar House" />
      </div>
      <div class="swiper-slide">
        <img src="/hero_images/Hero03.png" alt="Local Area" />
      </div>
    </div>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>

<!-- Run Swiper on Client Side -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    import("swiper").then((Swiper) => {
      import("swiper/modules").then((modules) => {
        const { Navigation, Pagination } = modules;
        new Swiper.default('.swiper', {
          modules: [Navigation, Pagination],
          direction: 'horizontal',
          loop: true,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
      });
    });
  });
</script>
